.portfolio__container {
    overflow: hidden; /* Pour cacher la barre de défilement */
}

.portfolio__developpeur__etudiant {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 125%;
}   

.portfolio__bar {
    width: 15%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.portfolio__bar > h2 {
    flex-basis: 45%;
    font-size: 100%;
    font-weight: 400;
}

.portfolio__bar > .content__bar {
    flex-basis: 55%;
    width: 100%;
    height: 5px;
    background-color: #333333;
    border-radius: 20px;
    overflow: hidden;
}
