.div__centrage{
    margin: 0 15%;
    font-weight: 200;
}

.main{
    margin-top: 25vh;
    margin-right: 50%;
}

.titre__accueil{
    font-size: 300%;
    margin-bottom: 2rem;
    font-weight: 200;
}

.paragraphe__accueil{
    font-size: 125%;
    margin-bottom: 2rem;
}

.btn__projets__savoir__plus{
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: 5rem;
}

.btn__projets__savoir__plus a:first-child{
    padding: 1rem 2rem;
    background-color: black;
    border: thin solid black;
    border-radius: 10px;
}

.btn__projets__savoir__plus a:last-child{
    border: thin solid white;
    padding: 1rem 2rem;
    border-radius: 10px;
}

a{
    text-decoration: none;
    color: white;
}

.lienAccueil{
    color: white;
    text-decoration: none;
}


.custom-cursor-home {
    position: fixed;
    pointer-events: none;
    width: 30px; /* Initial size */
    height: 30px;
    border-radius: 50%;
    background-color: white; /* Ensure text contrast */
    mix-blend-mode: difference;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%);
    color: black; /* Text color */
    font-size: 20px; /* Adjustable based on your design */
    transition: width 0.3s ease, height 0.3s ease; /* Smooth resizing transition */
    z-index: 1000;
    font-weight: 300;
  }
  
  .custom-cursor-home.shrink {
    width: 90px; /* Bigger size when hovering over links */
    height: 90px;
    font-weight: bold;
  }
  
  @media screen and (max-width: 1160px){
    .main{
        margin-top: 25vh;
        animation: slideUp 1s ease-in;
        margin-right: 0%;
        text-align: center;
    }
    .div__centrage{
        margin: 0 20%;
        font-weight: 200;
    }
    .btn__projets__savoir__plus{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        margin-top: 5rem;
    }
  }

  @media screen and (max-width: 960px){
    .custom-cursor-home{
        display: none;
    }
  }

  @media screen and (max-width: 530px){
    .titre__accueil{
        font-size: 200%;
        margin-bottom: 2rem;
        font-weight: 200;
    }
  }