.mainMoi {
  position: relative; 
  margin: 0 20%;
  overflow: hidden; 
}

main p {
  font-size: 150%;
  font-weight: 400;
  margin: 2rem 0;
  display: flex;
  flex-wrap: wrap;
  line-height: 1;
  transition: color 0.3s ease-in-out; 
}
.mot {
  margin-right: 12px;
  margin-top: 12px;
  position: relative;
}

.shadow {
  position: absolute;
  opacity: 0.1;
}

.div__1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 120vh;
}

.div__2 {
  height: 80vh;
}

.div__1:first-child {
  height: 60vh;
  margin-bottom: 20vh;
}

.titre__scroll {
  font-size: 2.5rem;
  font-weight: 400;
  margin: 2rem 0;
  display: flex;
  flex-wrap: wrap;
  line-height: 1;
}

.scroll-downs {
  width: 34px;
  height: 55px;
}

.mousey {
  width: 3px;
  padding: 10px 15px;
  height: 35px;
  border: 2px solid #fff;
  border-radius: 25px;
  opacity: 0.75;
  box-sizing: content-box;
}

.scroller {
  width: 3px;
  height: 10px;
  border-radius: 25%;
  background-color: #fff;
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(.15, .41, .69, .94);
  animation-iteration-count: infinite;
}

.liste__competence {
  min-height: 60vh;
  margin-bottom: 20vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.competence {
  flex-grow: 1;
  flex-basis: 15%;
  padding: 2%;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.11);
  min-height: 20%;
  min-width: 150px;
}

.description__competence {
  font-size: 0.75rem;
}

.competence img {
  width: 3rem;
}

/* CSS/Moi.css */
.cursor-mask {
  cursor: none;
}

.masked-text {
  mask-image: radial-gradient(circle, white 100%, black 100%);
  -webkit-mask-image: radial-gradient(circle, white 100%, black 100%);
}

.custom-cursor {
  position: fixed;
  pointer-events: none;
  width: 150px; 
  height: 150px;
  border-radius: 50%;
  background: white; 
  mix-blend-mode: difference;
  transform: translate(-50%, -50%);
  z-index: 1000; 
}


@media screen and (max-width:840px) {
  main p{
    font-size: 100%;
  }
}