main{
    margin: 0 20%;
}

main p{
    font-size: 2.5rem;
    font-weight: 400;
    margin: 2rem 0;
    display: flex;
    flex-wrap: wrap;
    line-height: 1;
}

.mot{
    margin-right: 12px;
    margin-top: 12px;
}